.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.label, .text {
    -fx-text-fill:  #616161;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view  .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #eee;
    -fx-alignment: BASELINE_LEFT;
    -fx-size: 40px;
}

.table-row-cell {
    -fx-text-fill: #616161;
    -fx-table-cell-border-width: 0;
    -fx-cell-size: 40px;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.text-field, .text-area {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: solid;
    -fx-border-color: #ccc;
    -fx-padding: 8 8 8 8;
}

.text-field:focused, .text-area:focused {
    -fx-border-width: 1;
    -fx-border-color:#2196f3;
    -fx-border-style: solid;
}

.text-area:focused .content {
    -fx-border-width: 0;
}

.text-area .content {
    -fx-border-width: 0;
    -fx-background-color: #fff;
}

.text-area {
    -fx-padding: 0;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 1 1 1 0;
    -fx-border-style: solid;
    -fx-border-color: #ccc;
}
.date-picker-popup .button {
    -fx-background-color: transparent !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 6, 0, 0, 2)!important;
}

.date-picker {
    -fx-background-color: transparent;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #ccc;
    -fx-pref-height: 35;
}

.dialog {
    -fx-background-color: #fff;
}

.content .button {
    -fx-background-color: #fff;
    -fx-border-width: 0;
    -fx-focus-color: transparent; 
    -fx-pref-height: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 6, 0, 0, 2);
}

.content .button.btn-success {
    -fx-text-fill: #fff;
    -fx-background-color: #4CAF50;
}

.content .button.btn-danger {
    -fx-text-fill: #fff;
    -fx-background-color: #ee6e73;
}

.content  .button.btn-info {
    -fx-text-fill: #fff;
    -fx-background-color: #29b6f6;
}

.table-row-cell:selected {
    -fx-table-cell-border-width: 0;
    -fx-table-cell-border-color: #e3f2fd;
    -fx-text-fill: #2196f3;
    -fx-background-color:#e3f2fd;
}

.table-row-cell:selected .text{
    -fx-fill: #2196f3;
}

.table-view .column-header .label {
    -fx-text-fill: #616161;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.content-panel {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 3, 0, 0, 1);
}

.navbar {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 4, 0, 0, 1);
}

.name-bar {
    -fx-background-color: #fff;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #eee;
}

.side-menu {
    -fx-border-width: 1 0 0 0;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.15), 5, 0, 0, 2);
}

.footer {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 1, 0, 0, 3);
}



.side-menu .button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #ffffff;
    -fx-alignment: BASELINE_LEFT;
    -fx-text-fill: #333333;
    -fx-padding: 0 0 0 20;
    -fx-cursor: hand;
}

.side-menu .button.active {
    -fx-background-color:#e3f2fd;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #2196f3;
    -fx-text-fill: #2196f3;
}

.side-menu .button:hover {
    -fx-text-fill: #2196f3;
    -fx-background-color:#e3f2fd;
    -fx-border-color:#e3f2fd;
}

.user-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #ffffff;
    -fx-alignment: BASELINE_LEFT;
    -fx-text-fill: #333333;
    -fx-padding: 0 10 0 0;
    -fx-cursor: hand;
}

.user-button .context-menu {
    -fx-pref-width: 176;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 5);
}

.user-button .menu-item {
    -fx-pref-height:30;
}

.user-button .menu-item:hover, .user-button .menu-item:focused {
    -fx-text-fill: #2196f3;
    -fx-background-color:#e3f2fd;
    -fx-background-insets: 0;
}

.scroll-pane {
    -fx-background-color:transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.content-wrapper {
    -fx-min-width: 1000;
    -fx-min-height: 600;
}

.text-danger {
    -fx-text-fill: #ee6e73;
}